---
const personalImageAlt = "Jose Velazquez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row mb-6">
  <div
    class="[&>p]:mb-4 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo José Velázquez y soy ingeniero en sistemas computacionales, especializado en <strong>administración de redes y diseño de plataformas web</strong>. Me gradué recientemente y tengo una gran pasión por la <strong>programación web</strong>.
    </p>

    <p>
      Durante mi formación académica, he trabajado en varios proyectos interesantes, incluyendo un <strong>sistema de asistencia basado en códigos QR</strong> y un <strong>contador de clics disponible en GitHub</strong>. Estos proyectos me han permitido aplicar mis conocimientos en situaciones prácticas y mejorar mis habilidades técnicas.
    </p>

  </div>

  <!-- <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%"> -->

</article>

